@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(180deg, #121212, #121212, #121212);
  background-size: 200% 200%;
  animation: gradientMove 6s ease-in-out infinite;
}

/* 4F47E6 */